{% load static %}
<!DOCTYPE html>
    <head>
        <!--Normal header stuff-->
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        
    <title> My pet stats </title>
    </head>
    <body>
        <!--Common body header stuff-->
        
        <img src = "{% static 'images/download.jpg' %}" alt="picture">

        <h1> This are the pet stats </h1>
        {% block content %}

        {% endblock %}
        <!--Common footer stuff-->
        My common footer
    </body>
</html>


