{% extends "base.html" %}
{% block content %}
    
    <h2>Pet name is : {{ pet.name }}</h2>

    <p>Pet age is : {{ pet.age }}</p>

    <p>Pet breed is: {{ pet.breed }} </p>

    <p>Pet sex is: {{ pet.sex }} <p>

    <p> Vaccinations for :
        <ul> 
            {% if pet.vaccinations.all %}
            {% for vaccinations in pet.vaccinations.all %}
                <li> {{vaccinations.name }}</li>
                {% endfor %}
            {% else %}
            <li> None </li>
            {% endif %}
        </ul>
    </p>

    <p> Submitter is : {{ pet.submitter }}</p>

    <p> Description is : {{ pet.description }}</p>

    <p> Submitter date is : {{ pet.submission_date }}</p>



{% endblock %}

<!--get loops for each one-->